.attraction-image-card{
    box-shadow: 3px 3px 10px;
    margin-bottom: 10px;
}
.attraction-card-body{
    height: autopx;
}
.attraction-img{
    aspect-ratio: 4/3;
    width: 100%;
    height: auto;
}