.card {
    position: relative;
    min-width: 0;
    word-wrap: break-word;
    /* background-color: #F2F2F2; */
    border: none;
}

.trip-image:hover{
    cursor: pointer;
    -ms-transform: scale(1.05);
    -webkit-transform: scale(1.05); 
    transform: scale(1.05); 
    transition: 0.7s;
}
.trip-title{
    color: #114B5F;
}
.trip-title:hover{
    color: #0a3849;
}

.booktrip-btn {
    background-color: #1A936F;
    color: #fff
}
.booktrip-btn:hover{
    background-color: #10664c;
    color: #fff
}

a {
    text-decoration: none !important
}
