.about-us-wrap{
    border-radius: 10px;
    padding-bottom: 40px;
}
.about-us-description{
    color: #114B5F;
}
#about-travelogic-div{
    margin: 20px 20px auto 40px;
    border-radius: 5px;
}
.about-us-main-png{
    padding-top: 50px;
    padding-right: 20px;
}
.about-social-icons{
    color: #114B5F;
}
.about-social-icons:hover{
    color:#0e3d4d;
}
#send-message-btn{
    background-color:#114B5F ;
    color: white;
    width: 60%;
}
#send-message-btn:hover{
    background-color: #0c3a49;
    color: #ffffff;
}
.msg-btn-div{
    width: 100%;
    text-align: center;
}
