.submit-question-btn{
    font-size: 14px;
    background-color: #114B5F;
    color: white;
    margin-top: 10px;   
}
.submit-question-btn:hover{
    background-color: #0c2e3a;
    color: white;
  }
  