.card-border{
  border: 0;
}

#img-div{
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

#img-div #qc-img{
  max-width: 90%;
}

#name{
  font-weight: 500;
}

#info{
  margin-bottom: 0.5rem;
}

.posted-text{
  color: green;
  font-size: 13px;
  font-weight: 300!important;
}

.date{
  color: black;
  font-size: 13px;
}

.view{
  color: black;
  font-size: 13px;
}

.card-body{
  padding: 0.3rem!important;
}

.detail-card-body{
  padding: 0.5rem!important;
}
#dnetail-img-div{
  margin-top: 0.5rem;
  margin-right: 0.25rem;
}
#detail-img-div #qc-img{
  max-width: 95%;
}
.single-question-wrap{
  background-color:rgb(245, 238, 238);
}
.single-question-wrap:hover{
  
  border: 0.5px solid  #98a4a8;
}

#detail-question{
  font-size: 15px;
  font-weight: 500;
}

#detail-description{
  font-size: 15px;
  font-weight: 300;
}

#triple-dot-menu{
  background-color: transparent;
}

#view-all-question-btn:hover{
  color: #5797ff !important;
}
@media (max-width: 575px) { 

  #img-div{
    margin-top: 0.5rem;
  }
  #img-div #qc-img{
    max-width: 25%;
  }  
  .card-body{
    padding: 0.5rem!important;
  }
  #detail-img-div{
    margin-left: 0.5rem;
  }
  #detail-img-div #qc-img{
    max-width: 25%;
  }
  
}

@media (min-width: 576px) and (max-width: 767px) { 
  #img-div{
    margin-top: 1rem;
  }
  .detail-img-div{
    margin-top: 0.5rem;
  }
  #img-div #qc-img{
    max-width: 90%;
  } 
  .card-body{
    padding: 0.5rem!important;
  }
}


