#topic #card-div{
  width: 18rem;
  border-radius: 10px;
}

#topic-img{
  height: 200px;
}

#topic-img:hover{
  box-shadow: 2px 2px 10px #093341;
}

@media (min-width: 768px) and (max-width: 1199px) { 
  #topic #card-div{
    width: 10rem;
    border-radius: 10px;
  }
  
  #topic-img{
    height: 120px;
  }
}


