.backtohome-btn{
    background-color: #114B5F;
    color: #F2F2F2;
}
.backtohome-btn:hover{
    background-color: #0a3847;
    color: #F2F2F2;
}

th, td {
    padding: 7px;
    padding-left: 15px;
    text-align: left;
  }

  .booking-details-table{
      width: 100%;
  }

  #booking-detail-table-footer{
    background-color: #114B5F;
    color: #F2F2F2;
}
.trip-detail-row{
    background-color: #F2F2F2;
}

.status-box{
    background-color: rgb(215, 230, 230);
    padding-left: 7px;
    padding-top: 7px;
    padding-bottom:7px;
}

#cancel-btn{
    font-size: 14px;
    background-color: rgb(214, 63, 63);
    color: white;
    margin-top: 20px;
  }
  #cancel-btn:hover{
    background-color:#9e4623 ;
  }

.confirmation-modal{
    background-color: rgb(255, 255, 255);
}
.confirm-btn{
    background-color: #c74714;
    color: white;
}
.confirm-btn:hover{
    background-color: #a73d13;
    color: white;
}
.no-btn{
    background-color: #114B5F;
    color: white;
}
.no-btn:hover{
    background-color: #0a2f3b;
    color: white;
}